version: '3.6'

x-base: &base
  environment:
    AWS_ACCESS_KEY_ID: xxx
    AWS_SECRET_ACCESS_KEY: xxx
    AWS_DEFAULT_REGION: xxx
    FARGATE_SUBNET: xxx
    FARGATE_SECURITY_GROUP: xxx

services:

  aws:
    <<: *base

  command:
    <<: *base

  saw:
    <<: *base
